a.nav-link.started {
  background: #f8b152;
  border-radius: 100px;
}
.nav-link {
  color:#fff;
}
li.nav-item {
  padding: 0px 25px;
}
header {
  padding: 15% 0;
}
input.btn.btn-primary {
  border-radius: 100px;
  margin: 10px 0;
}
.bg {
  background: url(/assets/img/img1.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 100%;
  margin-right: auto;
}
