<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/img/img2.png" class="img2">
    </div>
    <div class="col-lg-6 right">
      <h3>We are different and
        creative agency.</h3>
      <p>We all know how hard it can be to make a site look like the demo
        so to make your start into the world of X as easy as possible we
        have included the demo content.</p>
      <p>Simply import the sample files we ship with the theme and them
        core structure for your site is already built. Keep in mind that
        even if you don’t use the demo content, </p>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="text-center">We are serve a lot of service</h3>
  <p class="text-center">We all know how hard it can be to make a site look like
    demo so to make your start into the world</p>
  <div class="row">
    <div class="col-lg-4">
      <h4>Market Analysis</h4>
      <p>Simply import the sampe file we ship
        the theme and the core structu your
        is already built. Keep in mind.</p>
    </div>
    <div class="col-lg-4">
      <h4>Accounting Services</h4>
      <p>Simply import the sampe file we ship
        the theme and the core structu your
        is already built. Keep in mind.</p>
    </div>
    <div class="col-lg-4">
      <h4>Business Consulting</h4>
      <p>Simply import the sampe file we ship
        the theme and the core structu your
        is already built. Keep in mind.</p>
    </div>
  </div>
</div>
